body{
  background-image: url("https://coolbackgrounds.io/images/backgrounds/index/aqua-d9b59c89.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#title{
  float:left;
  font-family: 'Teko', sans-serif;
  padding: 0.3em 0.5em;
  background-color: rgba(192, 228, 241, 0.5);
}
#title a{
  text-decoration: none;
  color: white;
}
#title a:hover{
  color: gray
}
#nav ul{
  float:right;
  list-style-type: none;
  margin-right: 20px;
}
#nav ul li{
  display: inline-block;
}
ul li a{
  text-decoration: none;
  font-family: Century Gothic;
  font-size: 20px;
  color: white;
  padding: 10px;
  text-transform: uppercase;
}
ul li a:hover{
  color:black;
}
/* .about{
  clear:both;
  text-align: center;
  font-size: 2em;
}
/* .about h2{
  font-size: 1.5em;
} */
/* .about ul{
  list-style-type: ;
}
img{
  width: 15em;
} */ */
