body{
  background-image: url("https://coolbackgrounds.io/images/backgrounds/index/aqua-d9b59c89.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#title{
  float:left;
  font-family: 'Teko', sans-serif;
  padding: 0.3em 0.5em;
  background-color: rgba(192, 228, 241, 0.5);
}
#title a{
  text-decoration: none;
  color: white;
}
#title a:hover{
  color: gray
}
#nav ul{
  float:right;
  list-style-type: none;
  margin-right: 20px;
}
#nav ul li{
  display: inline-block;
}
ul li a{
  text-decoration: none;
  font-family: Century Gothic;
  font-size: 20px;
  color: white;
  padding: 10px;
  text-transform: uppercase;
}
ul li a:hover{
  color:black;
}
img{
  width:100%;
  justify-content: center;
}
.projects{
  clear: both;
  background-color: rgba(218, 233, 238, 0.8);
  width: 70%;
  margin-left:15%;
  padding: 1em auto;
  font-family: 'Abel', sans-serif;
}
.projects h1{
  text-decoration: underline;
  text-align: center;
}
