@@media screen and (min-width: 600px) {
  ul{
    font-size: 15px;
  }
}
/* .header{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7WIpqp5iz0VaDIbj0YZxDCPtqPjLr2DC3VJaP21-GGV6JYEAO8g");
  height: 20em;
  background-size: cover;
  background-position: center;
  color: white;
} */
body{
  background-image: url("https://coolbackgrounds.io/images/backgrounds/index/aqua-d9b59c89.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#title{
  float:left;
  font-family: 'Teko', sans-serif;
  padding: 0.3em 0.5em;
  background-color: rgba(192, 228, 241, 0.5);
}
#title a{
  text-decoration: none;
  color: white;
}
#title a:hover{
  color: gray
}
#nav ul{
  float:right;
  list-style-type: none;
  margin-right: 20px;
}
#nav ul li{
  display: inline-block;
}
ul li a{
  text-decoration: none;
  font-family: Century Gothic;
  font-size: 20px;
  color: white;
  padding: 10px;
  /* padding-left: 10px;
  padding-right: 10px; */
  /* border: 2px solid white; */
  text-transform: uppercase;
}
ul li a:hover{
  /* background-color: white; */
  color:black;
}
.info{
  text-align: center;
  position: absolute;
  margin-top: 18%;
  left: 45%;
}
.info h1{
  font-family: 'Teko', sans-serif;
  font-size: 2.3em;
}
.info h3{
  font-family: 'Righteous', cursive;
}
.info a{
  text-decoration: none;
  color:black;
}
.info a:hover{
  padding: 0.2em 0.7em;
  border: 0.05em white;
  border-bottom-style: double;
  color: #E1E0D8;
  transition: 1s ease;
}
/* #about{
  margin-top:4em;
}
#background{
  width:50%;
}
#vic{
  height:12em;
  float:left;
}
#interests{
  float:right;
} */
