@@media screen and (min-width: 600px) {
  ul{
    font-size: 15px;
  }
}
/* .header{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7WIpqp5iz0VaDIbj0YZxDCPtqPjLr2DC3VJaP21-GGV6JYEAO8g");
  height: 20em;
  background-size: cover;
  background-position: center;
  color: white;
} */
body{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7WIpqp5iz0VaDIbj0YZxDCPtqPjLr2DC3VJaP21-GGV6JYEAO8g");
  background-size: cover;
  background-repeat: no-repeat;
}
#nav ul{
  float:right;
  list-style-type: none;
  margin-right: 20px;
}
#nav ul li{
  display: inline-block;
}
ul li a{
  text-decoration: none;
  font-family: Century Gothic;
  font-size: 20px;
  color: white;
  padding: 10px;
  /* padding-left: 10px;
  padding-right: 10px; */
  border: 2px solid white;
  text-transform: uppercase;
}
ul li a:hover{
  background-color: white;
  color:black;
}
#about{
  margin-top:4em;
}
#background{
  width:50%;
}
#vic{
  height:12em;
  float:left;
}
#interests{
  float:right;
}
